* {
    font-family: 'Deja_Vu', serif;
}

a {
    text-decoration:none;
}

html,
body {
    height: 100%;
    background-color: RGBA(194, 156, 91, 0.48);
    max-width: 100%
}

#w0, .sidebar {
    background-color: #15530f;
    color: #d9d4cc;
}

#w1 {
    background-color: #15530f;
    color:rgb(51, 51, 51);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.nav-sidebar > li > a {
    color: white;
}

.nav-sidebar > li > a:hover {
    color: rgb(157, 157, 157);
}


.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.sidebar {
    height:100%;
    color:#d9d4cc;
    position: fixed;
    top: 50px;
    bottom: 0px;
    padding:20px;
}

.open-sidebar {
    //float:right;
    cursor: pointer;
}

.list-page-item {
    padding:20px;
}

#table-pages {
    width: 100%
}

.statut_0 {
    background-color:red;
}

#page-body {
    padding-top:5%;
}

.bloc-cms {
    border:solid;
    margin:5px 0 10px 0;
    padding:20px;
}

.bloc-cms > .fa-arrow-down, .fa-arrow-up {
    float:right;
    padding:5px;
    cursor:pointer;
}

.fa-arrow-down ~ .form-group {
    display:none;
}

.fa {
    font-size: 22px;
}

.bloc-item { 
    background-color:#CE9F2D;
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
}




.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; }
.sortable li span { position: absolute; margin-left: -1.3em; }

a.move {
    padding: 7px 6px 5px 6px;
    /*position: absolute;*/
    left: 0;
    top: 0;
    cursor: move;
    z-index: 2;
}

.green {
    color: #339900 !important;
}

.TokensContainer {
        height : 34px !important;

}

.tokenize-sample { 
    width: 100%; 
}

#gallery {
    width:1000px;
    height:1000px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item > img {
    width: 150px;
    height: 150px;
    margin:5px;
}


.gallery-image {
    width: 100%;
    height: 100%;
    margin:5px;
}

.gallery-item-pick {
    width: 150px;
    height:150px;
}

