* {
    font-family: 'Deja_Vu', serif;
}

html,
body {
    height: 100%;
    background-color: #F5F4F1;
    max-width: 100%
}

#w0, .sidebar {
    background-color: #5C554B;
    color: #d9d4cc;
}

#w1 {
    background-color: #F5F4F9;
    color:rgb(51, 51, 51);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.nav-sidebar > li > a {
    color: white;
}

.nav-sidebar > li > a:hover {
    color: rgb(157, 157, 157);
}


.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.sidebar {
    height:100%;
    color:#d9d4cc;
    position: fixed;
    top: 50px;
    bottom: 0px;
    padding:20px;
}

.open-sidebar {
    //float:right;
    cursor: pointer;
}

.list-page-item {
    padding:20px;
}

#table-pages {
    width: 100%
}

.statut_0 {
    background-color:red;
}

#page-body {
    padding-top:5%;
}

.bloc-cms {
    border:solid;
    margin:5px 0 10px 0;
    padding:10px;
}

.bloc-cms > .fa-arrow-down, .fa-arrow-up {
    float:right;
    padding:5px;
    cursor:pointer;
}

.fa-arrow-down ~ .form-group {
    display:none;
}

.fa {
    font-size: 22px;
}